NEXT_PUBLIC_SUPABASE_URL="https://hoxowfscvietnrkaqllt.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhveG93ZnNjdmlldG5ya2FxbGx0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzExNzM5NzAsImV4cCI6MjA4Njc0OTk3MH0.zirDQCn4emPrKmecRDeFvV9JJvc9yJeG5soX6RhhQos"
NEXT_PUBLIC_API_URL="http://localhost:8000"
